<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EMREC.Core.Properties.Settings.mplConnectionString"
            connectionString="Data Source=98.200.84.5\SQLEXPRESS,2301;Initial Catalog=mpl;User ID=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>